<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bayazid.cpik_present_system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Network_Cheaker.MyApplicationController"
        android:icon="@drawable/cpik_logo_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cpik_logo_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen_Activity"
            android:theme="@style/AppThemeNoActionBarSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth_Profile.LoginActivity"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Auth_Profile.Auth_MainActivity">


        </activity>
        <activity
            android:name=".Auth_Profile.GeneralUser_Profile"
            android:label="@string/title_activity_general_user__profile"
            android:parentActivityName=".Auth_Profile.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bayazid.cpik_present_system.Auth_Profile.LoginActivity" />
        </activity>
        <activity android:name=".Scan_Cpik_Server.Get_Student_Group_JSON"/>
        <activity android:name=".Teachears_Function.Attendance_Book_Child_1" />
        <activity
            android:theme="@style/AppThemeNoActionBar"
            android:name=".Teachears_Function.Attendance_Book_Main"
            android:parentActivityName=".Auth_Profile.GeneralUser_Profile"/>



        <activity
            android:name=".Auth_Profile.Teachers_Panel"
            android:label="@string/title_activity_teachers__panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:parentActivityName=".Teachears_Function.Teacher_Class_type"
            android:name=".Teachears_Function.ViewStdInfo_RecycleView"
            android:label="@string/attendance"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Teachears_Function.Post_Students_Attendance"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".GetStudentDocuments"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Teachears_Function.Create_Student"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Students_List"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:parentActivityName=".Auth_Profile.GeneralUser_Profile"
            android:name=".Teachears_Function.Teacher_Class_type"
            android:theme="@style/AppThemeNoActionBar" />


        <receiver
            android:name=".Network_Cheaker.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>